  <nav class=" nav-background padding-xs nav-inline">
  <ul>
    <li>
      <a class="nav-main border-radius" href="/videos">Videos</a>
    </li>

    
    <li>
      <a class="nav-main border-radius" href="/admin">Admin</a>
    </li>
    
    <li class="nav-right">
      <a class="nav-button border-radius" href="/users/logout">Signout</a>
    </li>
  </ul>
</nav>

<main>
  <!-- 
  <section>
    <div class="segment flex flex-justify-center">

    
        <h1 class="heading padding-left-xl">Python Programming Videos</h1>

    </div>  

  </section -->
<div class="flex flex-column">
    <section>
    <div class="segment-one padding-top-xl">
        <h1 class="heading-s text-align-center">Admin Dashboard</h1>

<div class="container">
           <table>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Videos Watched</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% if(stat) { %>
      <% stat.forEach(function(item) { %>
      <tr>
        <td> <%= item.name %> </td>
        <td> <%= item.email %> </td>
        <% if(item.videos.length == 0) { %>
        <td> Videos Not Watched Yet </td>
        <% } else { %>
          <td> <%= item.videos[0].video1 %> </td>
        </tr>
        <% } %>
      <% }) } %>          
        </tr>
     </tbody>
    </table>
  </div>


    </div>
    </section>


<section>
    <div class="container addvideo padding-top-xl">
        <!-- <h1 class="pop text-align-center">Programming Resources</h1> -->
        <h1 class="heading-s text-align-center">Add a Video</h1>
        <p class="pop text-align-center underline">Please submit only the video ID for the Link</p>
        <div class="container">
         <form action="/admin/new" method="POST">
  <p class="field">
    <label class="pop login-label" for="form-simple-link"><strong>Video ID Only :</strong></label>
    <input class="pop" type="link" id="email" name="videolink" placeholder="Video Link" required />
  </p>
   <p class="field">
    <label class="pop login-label" for="form-simple-link">Video Name: </label>
    <input class="pop" type="name" id="email" name="videoname" placeholder="Video Name" required />
  </p>
   <p class="field">
    <label class="pop login-label" for="form-simple-link">Video Title: </label>
    <input class="pop" type="name" id="email" name="title" placeholder="Video Name" required />
  </p>
  <p class="field">
    <button type="submit" class="button nav-button">Add Video</button>
  </p>

</form>
</div>
    </div>
    </section>

<section>
  <div class="container panel">
    <table>
  <thead>
    <caption>    <h1 class="poppins text-align-center">Videos Added</h1></caption>
    <tr >
      <th scope="col">Link</th>
      <th scope="col">Name</th>
      <th scope="col">Title</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody >
        <% if(videotable) { %>
      <% videotable.forEach(function(item) { %>
      <tr>
        <td> <%= item.link %> </td>
        <td> <%= item.name %> </td>
        <% if(item.title) { %>
        <td> <%= item.title %>  </td>
        <% } else { %>
          <td> No Title Submitted </td>
        <% } %>
                          <td><form action="/admin/delete" method="post">
    <input type="submit" name="deletevideo" value="<%= item.name %>" />
</form></td>
</tr>
      <% }) } %>
 </tbody>
</table>

  </div>
</section>


</div>

<footer>
  <div class="footer segment-red box margin-top-m padding-top-m">
    
    <div class="flex flex-column padding-right-xl">

       <ul class="footer-ul">
        <li class="footer-ul text-align-center"><h1 class="poppins">About</h1></li>
        <li class="footer-ul text-align-center"><a href="">UH</a></li>
        <li class="footer-ul text-align-center"><a href="">Statement</a></li>
        <li class="footer-ul text-align-center"><a href="">Sitemap</a></li>
      </ul> 
    </div>

  </div>
</footer>