<body>
    <nav class="nav-inline position-right box-shadow-l">
  <ul>
    <li>
      <a href="/" class="button button-s nav-button box-shadow-l">Home</a>
    </li>
    <li class="float-right">
      <a href="/users/logout" class="button button-s nav-button box-shadow-l">Signout</a>
    </li>
    <li class="float-right">
      <a href="/videos" class="button button-s nav-button box-shadow-l">Tutorials</a>
    </li>
  </ul>
</nav>

  <main >

  	<section>
      <div class="container margin-bottom-xl margin-top-xl margin-left-l">
        <h1 class="video-heading">
          Admin Panel
        </h1>
     </div> 
    </section>

    <section>
      <div class="flex-center">

        <div class="container background-white border-radius margin-l margin-bottom-xl padding-xl box-shadow-xl">
          <h1 class="inter padding-bottom-m text-center">User Data</h1>
            <table>
  <caption>Table Caption</caption>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Videos Watched</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% if(stat) { %>
      <% stat.forEach(function(item) { %>
      <tr>
        <td> <%= item.name %> </td>
        <td> <%= item.email %> </td>
        <% if(item.videos.length == 0) { %>
        <td> Videos Not Watched Yet </td>
        <% } else { %>
          <td> <%= item.videos[0].video1 %> </td>
        </tr>
        <% } %>
      <% }) } %>
 </tbody>
</table>


<div class="padding-top-xl">
  <form action="/admin/new" method="POST">
          <h1 class="text-align-center">Add Video</h1>
          <strong><p>Submit only the Video ID</p></strong>
  <p class="field">
    <label class="inter login-label" for="form-simple-link"><strong>ID Only<strong>Video ID: </label>
    <input type="link" id="email" name="videolink" placeholder="Video Link" />
  </p>
   <p class="field">
    <label class="inter login-label" for="form-simple-link">Video Name: </label>
    <input type="name" id="email" name="videoname" placeholder="Video Name" />
  </p>
   <p class="field">
    <label class="inter login-label" for="form-simple-link">Video Title: </label>
    <input type="name" id="email" name="title" placeholder="Video Name" />
  </p>
  <p class="field">
    <button type="submit" class="button login-button">Add Video</button>
  </p>

</form>
  
  <table>
  <caption> <h1 class="text-align-center">Videos Added</h1></caption>
  <thead>
    <tr>
      <th scope="col">Link</th>
      <th scope="col">Name</th>
      <th scope="col">Title</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% if(videotable) { %>
      <% videotable.forEach(function(item) { %>
      <tr>
        <td> <%= item.link %> </td>
        <td> <%= item.name %> </td>
        <% if(item.title) { %>
        <td> <%= item.title %>  </td>
        <% } else { %>
          <td> No Title Submitted </td>
        <% } %>

                          <td><form action="/admin/delete" method="post">
    <input type="submit" name="deletevideo" value="<%= item.name %>" />
</form></td>
</tr>
      <% }) } %>
 </tbody>
</table>


</div>
        </div>  





      </div>
    </section>

  </main>

  <footer class="footer padding-vertical-xl border-top border-color-primary-600 segmentcolor">
  <div class="container">

    <div class="text-align-center">
    <h2 class="display-title display-title-l margin-bottom-m">Digital Story Telling</h2>
    <nav class="nav-inline">
      <li>
        <a href="">Contact</a>
      </li>
      <li>
        | 
      </li>
      <li>
        <a href="">Mission</a>
      </li>
      <li>
        | 
      </li>
      <li>
        <a href="">Contribute</a>
      </li>
    </nav>
  </div>

  </div>
</footer>


  </body>