<div class="container">
<h1> Register </h1>
<%- include ("./partials/messages"); %>
<form action="/users/register" method="POST">
  <p class="field">
    <label for="name">Name</label>
    <input type="name" id="name" name="name" placeholder="Enter Name" value="<%= typeof name != 'undefined' ? name : '' %>"/>
  </p>
  <p class="field">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Enter Email" value="<%= typeof email != 'undefined' ? email : '' %>"/>
  </p>
  <p class="field">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Enter Password" value="<%= typeof password != 'undefined' ? password : '' %>"/>
  </p>
  <p class="field">
    <label for="passworde">Password</label>
    <input type="password" id="password" name="password2" placeholder="Enter Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>"/>
  </p>
  <p class="field">
    <button type="submit" class="button">Register</button>
  </p>
</form>
</div>